

#MainDiv
{
	background-color:#F5F5F5 ;
	margin:1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	height: auto !important;
	height: 725px;
	min-height:725px;
}

#Header
{
    
    background-color:#3e6497;
    vertical-align:middle;
    border-color: #7d93b6;
    border-width:1px;
    margin:0px 0px 5px 0px;
    position:absolute;
    top:-5px;
}

.header
{
  
 
}

.header h3
{
 vertical-align:bottom;
  color:#F5F5F5 ;
}


.header .Outer
{
	background-image:url(../../images/top-right.png);
	background-repeat:no-repeat;
	 background-position:right;
	padding-right:0px;
	 vertical-align:bottom;
}

.header .Inner
{
	background-image:url(../../images/top-left.png);
     background-repeat:no-repeat;
      background-position:left;
	padding-left:0px;
}

.header .Content
{
	height:35px;
	 background-image:url(../../images/top-mid.png) ;
	 background-repeat:repeat-x;
	 vertical-align:bottom;
}

.header .Content h2
{
	vertical-align:bottom;
  color: Black  ;
   padding-top:8px;
}


#SearchFilter
{
	width: 600px;
    height:200px;
    background-color:#d2d6d9;
    border-color:#7d93b6;
    border-width:1px;
    z-index:150;
     padding-top:2px;
     padding-bottom:25px;
}

#SearchFilter div span
{ 
	float: left;
}

#SearchFilter div
{
	width:90%; 
	 
	text-align:right;
	margin: 20px 10px 20px 10px;
}
#SearchFilter .Outer
{
  background-image:none;
}

#SearchFilter .Inner
{
	background-image:none;
}

#SearchFilter .Content
{

}

.SearchBody
{
	width: 600px;
    height:250px;
    background-color:#d2d6d9;
    border-color:#7d93b6;
    border-width:1px;
    z-index:150;
    padding-top:2px;
     margin-top:10px;
     
    
}

.SearchBody .Outer
{
	padding-right:0px;
     background-image:none;
	    
}

.SearchBody .Inner
{
	padding-left:0px;
	background-image:none;
}

.SearchBody .Content
{
	 vertical-align:bottom;
	 background-image:none;
}


.SearchBody .Content div
{
	width:90%; 
	 
	text-align:right;
	margin: 20px 10px 20px 10px;
}

.SearchBody .Content div span
{
	float: left;
}

#InstructionLabel
{
  position:relative;
  top:0px;
}
