body
{
  background-color:#7d93b6;
  padding:-5px -5px 1px -5px;
   margin:-3px -3px 1px -3px;
   height:auto;
   border-style:hidden;
    border-width:1px;
    text-align:center;
    
}



#results
{
  
	margin-top:10px;
}

#GridSingleResults
{
	width: 600px;
    border-style:solid;
    border-width:1px;
    border-color:#7d93b6;
    position:relative;
    display:none;
    background-color:#d2d6d9;
    
}

#GridSingleResults table
{
	width:100%;
	border-color:#7d93b6;
}

#GridMultiResults
{
	width: 625px;
	border-style:solid;
	border-width:1px;
	 border-color:#7d93b6;
	display:none;
	background-color:#d2d6d9;
}

#GridMultiResults table
{
	width:610px;
}


#SearchDetails
{
  
}

.spanResult
{
	display:none;
    font-family:Verdana;
    font-size:14pt;
    color:#7d93b6;
    
}

.GeneralFormat
{
	float:right;
}

#Progress
{ position:absolute;
  top:200px;
  left:350px;
  text-align:center;
}

.Col1
{
     width:28px;
     border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.Col2
{
	 width:445px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.Col3
{
	 width:95px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.Col4
{
	 width:105px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.Col5
{
	 width:75px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

#GridMultiResults .FooterControl
{
    font-size:13pt;
    width:100%;
    float:left;

}

#NameSearchDiv
{
	width: 650px;
	border-style:solid;
	border-width:1px;
	border-color:#7d93b6;
	display:none;
	background-color:#d2d6d9;
}

#NameSearchDiv table
{
	width: 625px;
}

#NameSearchDiv .FooterControl
{
    font-size:13pt;
    width:100%;
    float:left;

}

.NameCol1
{
	 width:25px;
     border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.NameCol2
{
	 width:295px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.NameCol3
{
	 width:94px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.NameCol4
{
	 width:75px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}

.NameCol5
{
	 width:88px;
	 border-color: #d2d6d9;
     border-style:solid;
     border-width:1px;
     display:block;
     float:left;
}



#ResultPanel
{
	float:left;
	position:relative; 
	left:2px;
	top:0px;
    padding-left:-10px;
    padding-right:25px;
	
}

#Progress
{
  font-family:Verdana;
   font-size:12pt;
   color:#e8f2f0;
}

#ErrorSummary
{
  
  width: 400px;
  text-align:left;
}

#ErrorSummary li
{
	color: Red;
}

#ErrorSummary ul
{
  
}

.denied
{
    font-family:Verdana;
     font-size:10pt;
     text-align:left;
     width:600px;
     padding-top:5px;
     margin-top:5px;
}

.denied p
{
	font-size:13pt;
	
}

#Error
{
	position:relative;
	text-align:left; 
}

#Error h2
{
	color: #3e6497;
	
}

#Error span
{
	color:#3e6497;
}

#pageFooter
{
	
	width:600px;
    padding:0px 0px 0px 10px;
     font-size:11px;
    
}

#pageFooter .content
{
	
}
#pageFooter .content div
{
	color:black;
     font-weight:bold;
     width:90%;
     text-align:left;
}

#pageFooter .content div span
{
	color:Black;
}

#pageFooter a
{
	color:#e8f2f0;
}