body
{
  
}

#MainStateDiv
{
	background-color:White;
	 padding:-5 -5 -5 -5;
	 margin:-10 -10 -10 -10;
	  height:100%;
	  width:100%;
	  font-size:11pt;
	 
}

#MainStateDiv div
{
	 text-align:center;
}

#MainStateDiv table
{
	 width: 650px;
	 border-color: #7d93b6;
	 border-style: solid;
	 border-width:thin;
}
#MainStateDiv td
{
	 border-color: #7d93b6;
	 border-style: solid;
	 border-width:thin;
	 
}

#MainStateDiv td p
{
	font-size:11pt;
	font-weight:bold;
}

#MainStateDiv tr
{
border-color: #7d93b6;
	 border-style: solid;
	 border-width:thin;
	 margin-bottom:-5px;
}

.EarnViewTableHeader
{
  background-color:#d2d6d9;
}

#Employee
{
	font-size: 11pt;
}