<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ProdMode" value="False"/>

	</appSettings>

	<connectionStrings>
		<add name="Prod" connectionString="Data Source=DBPROD2005;Initial Catalog=PAHREarningStatements;Integrated Security=True"
			providerName="System.Data.SqlClient" />
		<add name="Test" connectionString="Data Source=DOTNETAD;Initial Catalog=PAHREarningStatements ;Integrated Security=True"
		  providerName="System.Data.SqlClient" />


	</connectionStrings>
</configuration>