@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 - Unauthorized</title>
</head>
<body>
    <h2>
        Sorry, you do not have access to this part of the application.
    </h2>
</body>
</html>