@{
	Layout = null;
}

<table>
	<tbody>
@{int i = 0; string isChecked = "";}
@foreach (var item in ViewBag.ClientClaims)
{
<text>
	<tr>
	   @{i++;}
        @if (@i == 1) { isChecked = "checked"; } else { isChecked = ""; }
		<td> @if( @i > 1){<input type="radio" name="role" checked="@isChecked" id="activate_@(i)" data-value="@item.Name"/>}</td>
		<td style="font-weight: bold;">@item.ClaimType</td>
		<td>@item.Name</td>
	</tr>
</text>
}
	</tbody>
</table>
