@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - 500 </title>
</head>
<body>
@Model.Exception.Message
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>