@{
    ViewBag.Title = "Waiting to be paid";
}


<table class="homepagetable">
    <thead>
        <tr>
          @*  <th>
                <!-- yes no -->
            </th>*@
            <th>Contract</th>
            <th>Consultant</th>
            <th>Invoice No</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: WaitingtobePaid">
        <tr data-bind="attr: { id: InvoiceId }">
         @*   <td>
                <div class="buttons">
                    <a data-bind="click: Approve" href="#" class="button approve-button ">Approve</a>
                    <a data-bind="click: Reject" href="#" class="button reject-button ">Reject</a>
                </div>
            </td>*@
            <td><a class="hyperlink" data-bind="attr: { href: ContractLink }, text: JobNo"></a><span data-bind="    text: ' - ' + ContractCode"></span></td>
            <td style="text-align: left"><a class="hyperlink" data-bind="attr: { href: ConsultantLink }, text: ConsultantName"></a></td>
            <td style="text-align: center"><a class="hyperlink" data-bind="attr: { href: InvoiceLink }, text: InvoiceNo"></a></td>
            <td data-bind="text: Total"></td>
        </tr>
        <!-- ko foreach: Allotments -->
        <tr>            
            <td></td>
            <td data-bind="text: Func + '&nbsp; &nbsp;' + FAP"></td>
            <td></td>
            <td data-bind="text: accounting.formatMoney(Amount)"></td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->
    </tbody>
</table>
