<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ConsultantContractsEntities" connectionString="metadata=res://*/Models.ConsultantContractsEntities.csdl|res://*/Models.ConsultantContractsEntities.ssdl|res://*/Models.ConsultantContractsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=AHTD_ConsultantContracts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProgCon_AllotmentsEntities" connectionString="metadata=res://*/Models.JobAllotments.csdl|res://*/Models.JobAllotments.ssdl|res://*/Models.JobAllotments.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=ProgCon_Allotments;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FiscalSer_VendorMasterEntities" connectionString="metadata=res://*/Models.VendorMasterEntities.csdl|res://*/Models.VendorMasterEntities.ssdl|res://*/Models.VendorMasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=VendorMaster;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AHTD_UserProvEntities" connectionString="metadata=res://*/Models.UserProv.csdl|res://*/Models.UserProv.ssdl|res://*/Models.UserProv.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=AHTD_UserProv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ArDOT_UserProvEntities" connectionString="metadata=res://*/Models.ArDOTUserProvEntities.csdl|res://*/Models.ArDOTUserProvEntities.ssdl|res://*/Models.ArDOTUserProvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=ArDOT_UserProv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ArDOT_UserProvEntities1" connectionString="metadata=res://*/Models.ArDOT_UserProvEntities.csdl|res://*/Models.ArDOT_UserProvEntities.ssdl|res://*/Models.ArDOT_UserProvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=ArDOT_UserProv;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Shared/Error" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Shared/PageNotFound" />
    </customErrors>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Shared/Error" redirectMode="ResponseRedirect">
      <error statusCode="405" redirect="~/Shared/Error" />
    </customErrors>

    <authentication mode="Windows" p3:Transform="SetAttributes" xmlns:p3="http://schemas.microsoft.com/XML-Document-Transform" />

    <customErrors mode="On" defaultRedirect="~/Shared/Error" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Shared/PageNotFound" />
    </customErrors>
    <!--<authentication mode="None" xdt:Transform="SetAttributes" />-->
    <authorization xdt:Transform="Replace">
      <deny users="?" />
      <allow users="*"/>
    </authorization>
  </system.web>


  <appSettings>
    <add key="RuntimeEnvironment" value="server" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="~/Shared/PageNotFound" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="~/Shared/Error" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>