<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
<system.web>
  <authentication mode="Windows" xdt:Transform="SetAttributes" /><authorization xdt:Transform="Replace">
      <deny users="?" />
    <allow users="*" />
    </authorization>
    <customErrors mode="On" defaultRedirect="~/Shared/Error" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Shared/PageNotFound" />
    </customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" /></system.web><appSettings>
    <add key="RuntimeEnvironment" value="server" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings><system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="~/Shared/PageNotFound" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="~/Shared/Error" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer><system.serviceModel>
    <client>
      <endpoint name="WS2007HttpBinding_IAppLogService" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="HttpDevWeb@AHTD.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel><microsoft.identityModel>
    <service>
      <audienceUris xdt:Transform="Replace">
        <add value="http://prodweb1/myapplication/" />
      </audienceUris>
      <serviceCertificate xdt:Transform="Replace">
        <certificateReference x509FindType="FindByThumbprint" findValue="300ef0faf594ef5b0861fc941a2ea018660c9ae0" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
      <federatedAuthentication xdt:Transform="Replace">
        <wsFederation passiveRedirectEnabled="true" issuer="http://prodweb1/stsweb/" realm="http://prodweb1/myapplication/" requireHttps="false" />
        <cookieHandler requireSsl="false" />
      </federatedAuthentication>
      <issuerNameRegistry>
        <trustedIssuers xdt:Transform="Replace">
          <add thumbprint="a401d76f44ad7abfdcc2d8cee605cf69cebdae87" name="http://prodweb1/stsweb/" />

        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel></configuration>