<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>UserTest</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devweb/ConsultantContracts/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devweb</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ConsultantContracts</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ahtd\rh41200</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConsultantContractsEntities" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConsultantContractsInternal.Models.ConsultantContractsEntities, ConsultantContractsInternal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProgCon_AllotmentsEntities" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConsultantContractsInternal.Models.ProgCon_AllotmentsEntities, ConsultantContractsInternal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FiscalSer_VendorMasterEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConsultantContractsInternal.Models.FiscalSer_VendorMasterEntities, ConsultantContractsInternal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AHTD_UserProvEntities" Order="4" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConsultantContractsInternal.Models.AHTD_UserProvEntities, ConsultantContractsInternal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ArDOT_UserProvEntities" Order="5" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dbdev2012\devsql2012;Initial Catalog=ArDOT_UserProv;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArDOT_UserProvEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ArDOTUserProvEntities.csdl|res://*/Models.ArDOTUserProvEntities.ssdl|res://*/Models.ArDOTUserProvEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbdev2012\devsql2012;initial catalog=ArDOT_UserProv;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ArDOT_UserProvEntities1" Order="6" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConsultantContractsInternal.Models.ArDOT_UserProvEntities1, ConsultantContractsInternal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AHTD_UserProvEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ArDOT_UserProvEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ArDOT_UserProvEntities1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConsultantContractsEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FiscalSer_VendorMasterEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProgCon_AllotmentsEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>