<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IUserAuthorizationService" />
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://290-app-cl/UserAuthorizationService/UserAuthorizationService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IUserAuthorizationService"
                contract="IUserAuthorizationService" name="WS2007HttpBinding_IUserAuthorizationService">
                <identity>
                    <servicePrincipalName value="host/290-APP-CL.AHTD.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>