html
{
	margin: 0;
	padding: 0;
	background: none;
}
body
{
	font-family: "Segoe WP", "Segoe UI" , Verdana, Arial, Sans-Serif;
	margin: 0;
	padding: 8px;
	background: none;
}
header, nav, article, footer, address, hgroup
{
	display: block;
}
form
{
	margin: 0;
	padding: 0;
}
pre
{
	font-family: Consolas, monospace;
	white-space: pre-wrap;
}
h1
{
	color: #22436c;
	font-size: 32px;
	font-weight: normal;
}
header h1
{
	margin: 0;
	padding: 0;
}
h2
{
	color: #333333;
	font-size: 24px;
	font-weight: normal;
	margin: 8px 0;
}
h3
{
	color: #333333;
	font-size: 20px;
	font-weight: normal;
	margin: 6px 0;
}
a
{
	color: #0066cc;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
a img
{
	border: 0 none transparent;
}
p
{
	margin: 16px 0;
}
table
{
	margin: 0 auto;
}
td
{
	text-align: center;
}
section#content
{
	margin: 16px 0;
}
footer
{
	font-size: 14px;
	text-align: center;
}