<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ServerName" value="prodweb1"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="FederationMetadataLocation" value="http://prodweb1/stsweb/FederationMetadata/2007-06/FederationMetadata.ashx"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<connectionStrings>
		<add name="UserProvEntities" connectionString="metadata=res://*/Model.UserProvModel.csdl|res://*/Model.UserProvModel.ssdl|res://*/Model.UserProvModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBPROD2008\PRODSQL2008;initial catalog=AHTD_UserProv;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="HighwayPoliceEntities" connectionString="metadata=res://*/Model.AHPModel.csdl|res://*/Model.AHPModel.ssdl|res://*/Model.AHPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBPROD2005;initial catalog=HighwayPolice;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract"
				xdt:Locator="Match(name)">
				<host xdt:Transform="Replace">
					<baseAddresses>
						<add baseAddress="http://prodweb1/stsweb/Services/STSService.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="AHTD.Security.Web.Services.ClaimsService"
				xdt:Locator="Match(name)">
				<endpoint address="http://prodweb1/stsweb/Services/ClaimsService.svc" contract="AHTD.Security.Common.IClaimsService"
					xdt:Transform="SetAttributes" xdt:Locator="Match(contract)"/>
				<host xdt:Transform="Replace">
					<baseAddresses>
						<add baseAddress="http://prodweb1/stsweb/Services/ClaimsService.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<ws2007FederationHttpBinding>
				<binding name="AHTD.Security.Common.ClaimsService_ws2007FederationHttpBinding"
					xdt:Locator="Match(name)">
					<security mode="Message">
						<message>
							<issuerMetadata address="http://prodweb1/stsweb/Services/STSService.svc/mex"
								xdt:Transform="Replace"/>
						</message>
					</security>
				</binding>
			</ws2007FederationHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AHTD.Security.Web.Services.ClaimsServiceBehavior"
					xdt:Locator="Match(name)">
					<serviceCredentials xdt:Transform="Replace">
						<serviceCertificate findValue="300ef0faf594ef5b0861fc941a2ea018660c9ae0" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<microsoft.identityModel>
		<service name="AHTD.Security.Web.Services.ClaimsService" saveBootstrapTokens="true"
			xdt:Transform="Replace" xdt:Locator="Match(name)">
			<audienceUris>
				<add value="http://prodweb1/stsweb/Services/ClaimsService.svc" />
			</audienceUris>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
					<add thumbprint="a401d76f44ad7abfdcc2d8cee605cf69cebdae87" name="DefaultSigningCertificate" />
				</trustedIssuers>
			</issuerNameRegistry>
		</service>
	</microsoft.identityModel>
</configuration>